.select-wrapper {
    cursor: pointer;
    min-width: 300px;
    width: max-content;
}

.select-wrapper-select {
    position: relative;
    background: whitesmoke;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 3px 10px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}
.select-wrapper-img-up {
    rotate: 180deg;
    transition: 0.10s;
}
.select-wrapper-img-down {
    rotate: 0deg;
    transition: 0.10s;
}
.select-wrapper-options-container {
    position: absolute;
    width: 300px;
}

.select-wrapper-options {
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding-left: 10px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1px;
    font-size: 14px;
}

.select-wrapper-options.selected{
    background: #f9004d;
    color: #FFFFFF;
}